html,
body {
	height: 100%;
}

.wrapper {
    min-height: 100%;
    height: auto;
    padding-bottom: 120px;
}

footer {
	margin-top: -120px;
}

.header-back.single,
.header.single {
	background: #f4f5f6;
}

body .logo {
	opacity: .8;
}

body .aviet {
	color: rgba(85, 85, 85, .8);
}

.burger:not(.burger-active) div {
	background: rgba(85, 85, 85, 0.8);
}

.modal-window .tag {
	display: none;
}

body .modal-window h1 {
	padding: 0;
}

@media (max-width: 820px) {
	.header-back.single {
		height: 94px;
	}

	.header.single {
		height: 50px;
	}

	.modal-window.single {
		padding: 20px 20px 60px 20px;
	}
	
	h1 {
		text-align: center;
	}

	#content .fbx-link {
		display: block;
		width: 246px;
		margin: 20px auto 0;
	}

	.modal-window .date {
		font-size: 14px;
		left: 20px;
		bottom: 20px;
		font-weight: bold;
		color: #555;
	}

	#content p,
	#content ul,
	#content li {
		padding-left: 0;
		margin-left: 0;
	}
}

@media (min-width: 820px) and (max-width: 1200px) {

	.header-back.single,
	.header.single {
		height: 95px;
	}

	.modal-window.single {
		padding: 40px 0 80px 0;
	}

	.modal-window a.fbx-link:nth-child(3n) {
		margin-right: 0;
	}

	.modal-window .date {
		font-size: 18px;
		left: 0;
		font-weight: bold;
		color: #555;
		bottom: 40px;
	}

	#content p,
	#content ul,
	#content li {
		padding-left: 0;
		margin-left: 0;
	}
}

@media (min-width: 1200px) {

	.header-back.single,
	.header.single {
		height: 120px;
	}

	.modal-window.single {
		padding: 40px 0 120px 0;
	}
	
	body ul.dropdown li a {
		color: #555;
	}

	body .dropdown-top:hover ul.dropdown-inside {
		left: -9999px;
	}


	body ul.dropdown li.dropdown-top:hover,
	body ul.dropdown li.dropdown-top:hover li {
		background: none;
		opacity: 1;
	}
	
	body ul.dropdown li.dropdown-top:hover:not(.empty-menu) {
		border-bottom: none;
	}

	body ul.dropdown li.dropdown-top:hover a {
		color: #000;
	}
	
	#content h1 {
		font-size: 60px;
	}

	#content p,
	#content ul,
	#content li {
		padding-left: 0;
		margin-left: 0;
	}

	.modal-window a.fbx-link:nth-child(4n) {
		margin-right: 0;
	}

	.modal-window .date {
		font-size: 18px;
		left: 0;
		font-weight: bold;
		color: #555;
		bottom: 60px;
	}
}